
  

header{
  height: 150px;
  width: 100%;
  background-color: lightcyan;
  text-align: center;
}


}

aside{
  
  width: 700px;
  background-color: lightseagreen;
  height: 500px;
}

.image-section{
  display: flex;
  height: 150%;
  width: 150%;
  background-color: aliceblue;
  
  text-align:center
}

footer{
  height: 200px;
  background-color: lime;
  width: 100%;
}